body {
    background-color: #19c3fb;
}

h1 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: white;
    font-size: 6em;
}

div#form{
    /* border: 1px solid lime; */
    text-align: center;
    color: white;
}

label {
    /* border: 1px solid black; */
    display: block;
    margin: 10px;
    font-size: 2em;
}

input#location-textbox {
    
    font-size: 2em;
}

button#weather-btn {
    font-size: 2em;
}