body {
    background-color: #19c3fb;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-size: 6em;
    margin: 20px;
}




/* Form section */
div#form{
    /* border: 1px solid lime; */
    text-align: center;
    color: white;
}

label {
    /* border: 1px solid black; */
    display: block;
    margin: 10px;
    font-size: 1.5em;
    font-family: arial;
}

input#location-textbox {
    font-size: 2em;
    color: gray;
}
input#location-textbox:focus {
    outline: none;
}

button#weather-btn {
    font-size: 2em;
    background-color: #12a623;
    color: white;
    transition-duration: 0.4s;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: 15px;
}
button#weather-btn:hover {
    background-color: #11c226;
    
}





/* Loading spinner image section */
img {
    width: 64px;
    margin: 20px auto;
    margin-bottom: 0px;
    display: block;
}






/* Results section */
div#output-container {
    text-align: center;
    font-size: 3em;
    color: white;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 6em;
    margin: 0px;
    padding: 20px;
    /* border: 1px solid black; */
    line-height: 0.8em;
}
h3 {
    margin-top: 0px;
    margin-bottom: 30px;
}
h4 {
    margin-top: 30px;
}


/* There is an extra degree symbol added in front of the temperature number to help with 
alignment issues and then set to hidden here so it does not actually display
*/
span {
    visibility: hidden;
}






@media screen and (max-width: 700px) {
    body {
        /* background-color: blue; */
    }
    button#weather-btn {
        margin-top: 10px;
        font-size: 1em;
        display: inline-block;
        
    }
    input#location-textbox, label {
        font-size: 1em;
    }
    h1, h2 {
        font-size: 4em;
        
    }
}