body {
    background-color: #19c3fb;
}

h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-size: 6em;
    margin: 20px;
}




/* Form section */
div#form{
    /* border: 1px solid lime; */
    text-align: center;
    color: white;
}

label {
    /* border: 1px solid black; */
    display: block;
    margin: 10px;
    font-size: 1.5em;
    font-family: arial;
}

input#location-textbox {
    
    font-size: 2em;
}

button#weather-btn {
    font-size: 2em;
}





/* Results section */
div#output-container {
    text-align: center;
    font-size: 3em;
    color: white;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 6em;
    margin: 0px;
    padding: 0px;
}

/* There is an extra degree symbol added in front of the temperature number to help with 
alignment issues and then set to hidden here so it does not actually display
*/
span {
    visibility: hidden;
}